* {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 16px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
  width: 100%;
  min-height: 100vh;
}

/* LeftBar */
.left-bar{
  background-color: rgb(59, 59, 59);
  color: white;
  width: 16.5rem;
  height: 100vh;
}