* {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 16px;
  font-family:sans-serif;
}

body{
  width: 100%;
  min-height: 100vh;
}

/* Left Bar */
.left-bar{
  background-color: rgb(34, 34, 34);
  color: white;
  width: 16.5rem;
  height: 100%;
  position: fixed;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index:1;
}

.new-cat{
  width: 83%;
  border: 1px rgb(90, 89, 89) solid;
  border-radius: 5px;
  cursor: pointer;
  height: 3rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 10px;
}

.new-cat-plus{
  padding: 0px 12px 5px 5px;
  font-size: 1.2rem;
  color: rgb(205, 204, 204);
}

.new-cat:hover{
  background-color: rgb(48, 48, 48);
}

/* Main Container */

.main-container{
  min-height: 100vh;
  width: 100%-16.5rem;
  margin-left: 16.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.title{
  font-size: 2.4rem;
}

/* Table */

.table-container{
  display: flex;
  gap: 1rem;
  margin-bottom: 10rem;
  max-width: 100%;
}

.table-heading{
  display: flex;
  gap: .5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:rgb(67, 66, 66);
}

.table-heading img{
  height: 50px;
  max-width: 50px;
}

.table-block{
  max-width: 13rem;
  height: 3rem;
  background-color: #f5f5f7;
  padding: 0.7rem 0.6rem;
  border-radius: 3px;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:rgb(63, 63, 63);
}

.table-column{
  display:flex;
  flex-direction: column;
  gap: 1rem;
}

.examples .table-block:hover{
  background-color: rgb(191, 190, 190);
}

/* Input Bar */

input{
  width:50rem;
  padding: 0.9rem;
  outline: none;
  box-shadow: 0px 0px 1rem rgba(181, 180, 180, 0.4);
  border: 1px solid rgb(209, 209, 209);
  border-radius: 0.5rem;
  font-size: 1.2rem;
  position: relative;
}

.input-bar-container{
  position: fixed;
  bottom: 3rem;
}

input:focus{
  outline: none;
}

button{
  all: unset;
  cursor: pointer;
  position: absolute;
  top: 13px;
  right: 14px;
  padding: 5px 4px 0px 4px;
}

button:hover{
  background-color: rgb(235, 234, 234);
  border-radius: 3px;
  
}

button img{
  height: 22px;
  width: 22px;
  color: grey;
}

/* Chat Container */

.chat-container{
  min-height: 100vh;
  width: 100%-16.5rem;
  margin-left: 16.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-container{
  width: 100%;
  padding: 30px 0px 30px 40%;
}

.question-inner-container{
  display: flex;
  gap: 20px;
  align-items: center;
}

.question-container img{
  width: 30px; 
  height: 30px;
  padding: 7.5px;

}

.answer-container img {
  width: 45px;
  height: 45px;
}

.answer-container{
  width: 100%;
  padding: 30px 0px 30px 40%;
  background-color: rgb(245, 245, 245);
}

@media (max-width: 1100px){
  input{
    width: 40rem;
  }
}

@media (max-width:900px){
  input{
    width: 30rem;
  }
}

@media(max-width:850px){
  .left-bar{
    height: 4rem;
    width: 100%;
  }

  .question-container{
    margin-top: 4rem;
  }

  .main-container, .chat-container{
    margin-left: 0px;
  }

  input{
    width: 40rem;
  }
}

@media(max-width: 675px){
  input{
    width: 30rem;
  }
}

@media(max-width: 500px){
  input{
    width: 20rem;
  }
}